<header>
  <div class="container readable">
    <div id="logo-title">
      <picture>
        <img src="/assets/images/appicon/appicon.png" srcset="/assets/images/appicon/appicon@2x.png 2x, /assets/images/appicon/appicon@3x.png 3x" width="60" height="60"/>
      </picture>
      <h1><a href="/blog">{{ site.title }} <span>Blog</span></a></h1>
    </div>

    <nav>
      <ul>
        <li><a href="{{ "/" | absolute_url }}">Home</a></li>
        <li><a href="https://faq.pockity.app/" target="_blank">FAQ</a></li>
        <li><a href="mailto:support@pockity.app">Support</a></li>
      </ul>

      <a role="button" class="black rounded" href="{{ "/store" | absolute_url }}">Download</a>
    </nav>
  </div>  
</header>