<div class="container" id="highlights">
  <div class="grid">
    <div>
      <img src="/assets/images/home/interface.svg" width="40" height="40" />
      <p>Beautiful Native UI</p>
    </div>
    <div>
      <img src="/assets/images/home/currency.svg" width="40" height="40" />
      <p>Currency Conversions</p>
    </div>
    <div>
      <img src="/assets/images/home/windows.svg" width="40" height="40" />
      <p>Widgets & Focus Mode</p>
    </div>
    <div>
      <img src="/assets/images/home/recurring.svg" width="40" height="40" />
      <p>Repeating Expenses</p>
    </div>
    <div>
      <img src="/assets/images/home/privacy.svg" width="40" height="40" />
      <p>Personal & Private</p>
    </div>
    <div>
      <img src="/assets/images/home/cloudsharing.svg" width="40" height="40" />
      <p>Family Plans & Sharing</p>
    </div>
  </div><!-- grid -->
    </div><!-- Container -->