<section class="container" id="sharing">
  <img src="/assets/images/home/sharing.png" srcset="/assets/images/home/sharing@2x.png 2x, /assets/images/home/sharing@3x.png 3x" width="475" height="262" alt="Illustration for family sharing on the App Store and Cloud sharing of Ledgers"/>

  <div class="grid">
    <div>
      <h4>Family Sharing</h4>
      <p>Pockity+ Family Plan can be shared with up to 4 people added to your Apple ID Family.</p>
    </div>
    <div>
      <h4>Shared Ledgers</h4>
      <p>Share ledgers with your family, friends, and guardians, track expenses together or give view-only access.</p>
    </div>
  </div>
</section>