<div id="header-explore" class="container">
  <div class="grid">
    <a role="button" href="{{ site.url }}/store" title="Download Pockity from the Apple App Store" id="x-store" class="black rounded cta" tabindex="1"> App Store</a>
    <a role="button" href="/" title="Explore Pockity's features" class="black rounded cta" tabindex="2">Explore</a>
  </div>
  <p class="caption" style="text-align: center;">Pockity is free to get started with. Pockity+ is a one-time purchase to unlock all Pockity features.</p>
</div>