<aside id="support">
  <div class="container">
    <header>
      <h3>Have a Question?</h3>
      <p>Pockity has a comprehensive list of Frequently Asked Questions documented and grouped together to help you. Have a look at the docs, and if you still have questions, you can always contact me at <a href="mailto:support@pockity.app">support@pockity.app</a>.</p>
    </header>

    <div class="grid">
      <div class="sp-faq">
        <picture class="pad-bottom">
          <img src="/assets/images/home/docs.jpg" srcset="/assets/images/home/docs@2x.jpg 2x, /assets/images/home/docs@3x.jpg 3x" alt="Image of light/dark mode selection" width="150" height="150"/>
        </picture>
        <h4>Docs</h4>
        <p>Check out the docs and Frequently Asked Questions website to see if I've already answered your question. It also inclues some useful tips.</p>

        <a href="https://faq.pockity.app/" target="_blank" title="Frequently Asked Questions" class="external">View Docs</a>
      </div>

      <div class="sp-masto">
        <picture class="pad-bottom">
          <img src="/assets/images/home/social.jpg" srcset="/assets/images/home/social@2x.jpg 2x, /assets/images/home/social@3x.jpg 3x" alt="Image of light/dark mode selection" width="150" height="150"/>
        </picture>
        <h4>Social</h4>
        <p>Come say "hi" on Mastodon. I talk to customers directly there and also share product updates and behind the scenes updates.</p>

        <a href="https://social.dezinezync.com/@pockity" target="_blank" title="@Pockity on Mastodon" class="external">Follow @Pockity</a>
      </div>

      <div class="sp-press">
        <picture class="pad-bottom">
          <img src="/assets/images/home/pr.jpg" srcset="/assets/images/home/pr@2x.jpg 2x, /assets/images/home/pr@3x.jpg 3x" alt="Image of light/dark mode selection" width="150" height="150"/>
        </picture>
        <h4>Marketing</h4>
        <p>If you're a member of the press or looking to feature Pockity in your work, here's a link to our PR pack.</p>

        <a href="https://faq.pockity.app/" title="Pockity's PR Assets" class="external">View Assets</a>
      </div>
    </div>
  </div>
</aside>