<aside id="support">
  <div class="container">
    <header>
      <h3 class="section-header-xl vault">Have a Question?</h3>
      <p>Pockity has a comprehensive list of Frequently Asked Questions documented and grouped together to help you. Have a look at the docs, and if you still have questions, you can always contact me at <a href="mailto:support@pockity.app">support@pockity.app</a>.</p>
    </header>

    <div class="grid">
      <div class="sp-faq">
        <picture class="pad-bottom">
          <img src="/assets/images/support/docs.png" srcset="/assets/images/support/docs@2x.png 2x, /assets/images/support/docs@3x.png 3x" alt="Image of light/dark mode selection" width="64" height="64"/>
        </picture>
        <h4 class="vault">Docs</h4>
        <p>Check out the docs and Frequently Asked Questions website to see if I've already answered your question. It also inclues some useful tips.</p>

        <a href="https://faq.pockity.app/" target="_blank" title="Frequently Asked Questions" class="external">View Docs</a>
      </div>

      <div class="sp-masto">
        <picture class="pad-bottom">
          <img src="/assets/images/support/social.png" srcset="/assets/images/support/social@2x.png 2x, /assets/images/support/social@3x.png 3x" alt="Image of light/dark mode selection" width="64" height="64"/>
        </picture>
        <h4 class="vault">Social</h4>
        <p>Come say "hi" on Mastodon. I talk to customers, share product updates and have general discussions about the app.</p>

        <a href="https://social.dezinezync.com/@pockity" target="_blank" title="@Pockity on Mastodon" class="external">Follow @Pockity</a>
      </div>

      <div class="sp-press">
        <picture class="pad-bottom">
          <img src="/assets/images/support/marketing.png" srcset="/assets/images/support/marketing@2x.png 2x, /assets/images/support/marketing@3x.png 3x" alt="Image of light/dark mode selection" width="64" height="64"/>
        </picture>
        <h4 class="vault">Marketing</h4>
        <p>If you're a member of the press or looking to feature Pockity in your work, here's a link to our PR pack.</p>

        <a href="https://faq.pockity.app/" title="Pockity's PR Assets" class="external">View Assets</a>
      </div>
    </div>
  </div>
</aside>