:root {
  --dz-background-color: color-mix(in display-p3, window 30%, Canvas);
  --dz-brand-color: #5856D6;
  --dz-grouped-background-color: Canvas;
  --dz-title-color: color-mix(in display-p3, Canvas 8%, CanvasText);
  --dz-subtitle-color: color-mix(in display-p3, Canvas 50%, CanvasText);
  --dz-text-color: color-mix(in display-p3, Canvas 50%, CanvasText);
  --dz-border-color: ButtonBorder;
  --muted-border-color: ButtonBorder;
}

@media only screen and (prefers-color-scheme: dark) {
  :root, :root:not([data-theme=light]) {
    
  }
}