---
---

@import "{{ site.theme }}";
@import "variables";
@import "buttons";

// @font-face {
//   font-family: "VaultAlarm";
//   src: local("VaultAlarm-Regular"),
//         url("../fonts/VaultAlarm-Regular.woff") format("woff"), 
//         url("../fonts/VaultAlarm-Regular.woff2") format("woff2");
// }

html {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  quotes: "“" "”";
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dz-title-color);
}

body.home {
  p {
    color: var(--dz-text-color);
  }
}

p {
  letter-spacing: 0;
  line-height: 1.4;
}

picture {
  display: inline-block;
  box-sizing: content-box;
  object-fit: contain;

  &.pad-bottom {
    margin-bottom: 1rem;
  }
}

.grid {
  &.align-baseline {
    align-items: baseline;
  }
}

.linked, button {
  &:hover {
    cursor: pointer;
  }
}

.always-dark {
  color-scheme: dark;
}

header {
  nav a {
    font-size: 0.9rem;
  }

  #logo-title {
    display: inline-flex;
    align-items: center;

    h1 {
      margin-bottom: 0;
    }
  }

  #logo-container {
    display: flex; 
    gap: 1rem; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 1rem;

    img {
      overflow: hidden;
      border-radius: 28px;
      box-shadow: 0 4px 8px color-mix(in display-p3, Canvas 80%, CanvasText);
    }

    h1 {
      margin-bottom: 0;
    }

    & + h2 {
      margin: 0 auto;
      max-width: 25rem;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  // &.vault {
  //   font-family: "VaultAlarm";
  //   margin-bottom: var(--typography-spacing-vertical);
  // }
  font-weight: 800;

  span {
    font-family: var(--font-family);
  }

  &.subhead {
    color: var(--dz-subtitle-color);
    span {
      font-weight: 500;
    }
  }
}

.caption {
  color: var(--dz-subtext-color);
}

.container.readable {
  max-width: 64ch;
}

.container.center {
  text-align: center;
}

.card {
  max-width: 100%;
  background: var(--dz-grouped-background-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.03), 0 8px 24px 0 rgba(0,0,0,0.05);
  border-radius: 40px;
  padding: 40px;
}

footer {
  margin-top: 2rem;

  p {
    font-size: 0.7rem;
    color: var(--dz-color-subtext);
    margin-bottom: 0.5rem;
  }
}

.flex {
  display: flex;

  &.rows {
    flex-direction: rows;
  }

  &.columns {
    flex-direction: column;
  }
}

body.blog {
  header .container {
    display: flex;
    align-items: baseline;

    nav {
      margin-left: auto;
      margin-right: 0;
    }
  }

  #footer-apple-disclaimer {
    display: none;
  }

  footer p {
    margin-bottom: 0.75rem;
  }
}

body.home nav .container, body.blog header nav {
  display: flex;
  align-items: baseline;
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem 0 auto;

    &:first-of-type {
      margin-left: auto;
    }

    &:last-of-type {
      margin-right: 1rem;
    }

    a {
      color: var(--dz-title-color);
      font-size: 0.8rem;
    }
  }

  > .container a[role="button"], > a[role="button"] {
    margin: 0;
    padding: 4px 8px 6px;

    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    font-size: 0.8rem;
    line-height: 1.0;

    border: none;
    height: auto;
    min-height: unset;

    border-radius: 1rem;
  }
}

kbd {
  background: ButtonFace;
  color: ButtonText;
  font: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.1rem 0.25rem;
  border: 2pt solid ButtonBorder;
  border-radius: 0.5rem;
}

@media only screen and (prefers-color-scheme: dark) {
  button, *[role="button"] {
    &.black {
      color: #1a1a1c;
    }
  }
}

.fade {
  position: relative;

  & + * {
    position: relative;
    z-index: 2;
  }

  &.card-bg {
    --dz-background-color: Canvas;
  }

  &.bot {
    margin-bottom: -6rem;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-image: linear-gradient(to bottom, color-mix(in display-p3, var(--dz-background-color), transparent 90%), var(--dz-background-color) 90%);
      width: 100%;
      height: 8rem;
    }
  }

  &.trailing {
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      pointer-events: none;
      background-image: linear-gradient(to right, color-mix(in display-p3, var(--dz-background-color), transparent 90%), var(--dz-background-color) 90%);
      width: 8rem;
      height: 100%;
    }
  }
}

.phone-bezeled-v {
  width: 312px;
  height: 468px;
  position: relative;

  .bezel {
    width: 189px;
    height: 385px;

    position: absolute;
    top: 0px;
    left: 0px;

    background: url(../images/ios/phone-v-bezel.png) no-repeat;
    background-size: 189px 385px;
  }

  .poster {
    width: 171px;
    height: 370px;

    position: absolute;
    top: 8px;
    left: 10px;
    border-radius: 26px;
    overflow: hidden;
  }

  .shadow {
    width: 310px;
    height: 468px;
    display: block;

    position: absolute;
    top: 3px;
    left: 0px;

    background: url(../images/ios/phone-v-shadow.png) no-repeat;
    background-size: 310px 468px;
  }
}

.pad-bezeled-h {
  width: 900px;
  height: 720px;
  position: relative;

  .bezel {
    width: 900px;
    height: 720px;

    position: absolute;
    top: 0px;
    left: 0px;

    background: url(../images/ios/pad-h-bezel.png) no-repeat;
    background-size: 900px 720px;
  }

  .poster {
    width: 740px;
    height: 555px;

    position: absolute;
    top: 30px;
    left: 24.5px;

    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
  }
}

.video-controls {
  button {
    display: inline;
    background: transparent;
    box-shadow: none;
    border: none;
    color: var(--dz-brand-color);
    width: auto;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 0;

    display: flex;
    gap: 4px;

    will-change: opacity;
    transition: 0.2s opacity;

    &:hover {
      opacity: 0.65;
    }

    &[aria-hidden="true"] {
      display: none;
    }

    img {
      display: block;
      align-self: center;
    }
  }
}

.phone-bezeled-v + .video-controls, .pad-bezeled-h + .video-controls {
  margin-top: -60px;
  position: relative;
  z-index: 100;

  width: 171px;
  text-align: center;

  button {
    margin: 0 auto;
  }
}

#sharing {
  display: flex;
  flex-direction: column;
  align-items: center;

  .grid {
    max-width: 940px;
    margin-top: 1rem;

    div {
      text-align: center;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (min-resolution: 2dppx) {
  .phone-bezeled-v {
    .bezel {
      background-image: url(../images/ios/phone-v-bezel@2x.png);
    }

    .shadow {
      background-image: url(../images/ios/phone-v-shadow@2x.png); 
    }
  }

  .pad-bezeled-h {
    .bezel {
      background-image: url(../images/ios/pad-h-bezel@2x.png);
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
       only screen and (min--moz-device-pixel-ratio: 3),
       only screen and (min-device-pixel-ratio: 3),
       only screen and (min-resolution: 3dppx) {
  .phone-bezeled-v {
    .bezel {
      background-image: url(../images/ios/phone-v-bezel@3x.png);
    }

    .shadow {
      background-image: url(../images/ios/phone-v-shadow@3x.png); 
    }
  }

  .pad-bezeled-h {
    .bezel {
      background-image: url(../images/ios/pad-h-bezel@3x.png);
    }
  }
}

@media only screen and (prefers-color-scheme: dark) {
  header {
    #logo-container {
      img {
        box-shadow: 0 4px 8px color-mix(in display-p3, black 40%, transparent 12%);
      }
    }
  }
}

@import "layouts/home";
@import "layouts/ios";
@import "layouts/macos";
@import "layouts/blog";
@import "layouts/support";
@import "layouts/mac";
@import "layouts/custom";