body.home {
  max-width: 100vw;
  overflow-x: hidden;

  main {
    max-width: 100vw;
    overflow-x: hidden;

    hgroup {
      max-width: 58ch;
      margin: 0 auto 1rem;

      h2, h3, h4, h5, h6 {
        font-weight: bold;

        & + * {
          margin-block-start: 0.8rem;
        }
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: normal !important;
      }
    }
  }

  main > picture, picture#widgets {
     max-width: 1130px;
      display: block;
      margin: 0 auto;
  }

  > header {
    padding-top: 4.62rem;
    margin-bottom: 4.62rem;
    position: relative;

    .container {
      text-align: center;
      max-width: 64ch;
      position: relative;
      z-index: 1;
    }

    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  #header-explore {
    max-width: 48ch;
    margin-top: 2rem;

    button {
      margin: 0 auto;
    }

    .caption {
      margin-top: 1rem;
      font-size: 0.6rem;
    }
  }

  #highlights .grid {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        margin-block-end: 1rem;
      }

      p {
        text-align: center;
      }
    }
  }

  #home-hero {
    text-align: center;
    margin-bottom: 4rem;
  }

  .container.clear-bot {
    margin-bottom: 2rem;
  }

  #widgets-pre {
    margin-block-start: 5rem;
  }

  picture#widgets {
    margin-block-end: 5rem;
  }

  #focus-modes {
    margin-bottom: 4rem;

    h2, .card {
      max-width: 620px;
    }

    .card {
      margin: 2rem auto 0;
      // overflow-x: hidden;

      picture {
        max-width: 100%;
        max-width: calc(100% + 40px);
        overflow-x: hidden;
      }

      img {
        max-width: 100vw;
        height: auto;
        margin-bottom: 1rem;
      }
    }
  }

  #recurring-items {
    margin-block-end: 4rem;

    hgroup {
      margin-block-end: 2rem;
    }

    .card {
      max-width: 460px;
      max-height: 453px;
      overflow: hidden;
      justify-self: center;

      &[data-theme="dark"] {
        padding: 0;
        position: relative;
        background: url(../images/home/recBackground.png);
        display: flex;

        > div {
          z-index: 1;
          margin: auto;
          padding: 0 1rem 56px;

          img {
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  #sharing {
    margin-block: 4rem 0;
  }
} /* body.main */

picture#hero-lockup {
  display: block;
  max-width: 100vw;

  img {
    max-width: 100vw;
    height: 463px;
    display: inline-block;
    object-fit: cover
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  body.home {
    > header, #home-transactions {
      &:before {
        max-width: 100vw;
        height: auto;
        aspect-ratio: 1374/902;
        bottom: -24rem;
      }
    }

    #home-editor {
      picture {
        transform: translateX(-5vw); 
        img {
          max-width: 150vw;
        }
      }

      &:before {
        max-width: 200vw;
        height: auto;
        aspect-ratio: 1242/870;
        transform: none;
      }
    }

    #home-reminders {
      picture {
        transform: translateX(-4vw); 
      }

      .image-wrapper:before {
        max-width: 200vw;
        height: auto;
        left: -2rem;
        bottom: 0;
      }
    }

    #home-recurring {
      picture {
        transform: translateX(-10vw); 
      }

      .image-wrapper:before {
        max-width: 100vw;
        height: auto;
        left: 5rem;
        bottom: 8rem;
      }
    }
  }
}

@media (max-width: 767px) {
  body.home {
    .pic-right, .pic-left, .pic-top, .pic-bottom {
      flex-direction: column;

      > * {
        max-width: unset;
        flex-basis: auto;
        min-width: 0px;
      }
    }

    .section-header-xxl {
      font-size: 40pt;
    }

    small:not(.section-title), .section-title {
      font-size: 1rem;
    }

    #home-transactions {
      position: relative;
      left: calc((200vw - 100%) * -0.5);

      img {
        max-width: 200vw;
        object-fit: cover;
      }
    }

    hgroup {
      margin-bottom: 0;
    }

    h3.vault {
      font-size: 3rem;

      &.mobile-medium {
        font-size: 2rem;
      }
    }

    h4.vault {
      font-size: 2.5rem;
    }

    #home-design .container:first-of-type {
      margin-bottom: 2rem;
    }

    #tiny-feat {
      .grid .x-large-border:last-of-type p br {
        display: none;
      }
      
      .x-large-border:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    #stagemanager {
      padding-left: 0;
      padding-right: 0;

      img {
        min-width: 100%;
        max-width: 100%;

        min-width: 100vw;
        max-width: 100vw;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation: portrait) {
  body.home {
    main > picture {
      position: relative;
      left: -2rem;
    }

    #home-fence, #home-widgets {
      text-align: center; 
    }

    #tiny-feat {
      .grid .x-large-border {
        margin-bottom: 3rem;
      }

      .grid:last-of-type .x-large-border:last-of-type {
        margin-bottom: 0;
      }

      .grid .x-large-border:last-of-type p br {
        display: none;
      }
    }

    #stagemanager {
      .hero-image {
        position: relative;
        left: calc((100vw - 100%) * -0.5 - 0.750rem);
      }
    }
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  body.home {
    main > picture + .container {
      padding-bottom: 2.5rem;
    }

    #home-editor {
      .image-wrapper {
        position: relative;
        left: calc((100vw - 100%) * 0.5);
      }
    }

    #home-recurring, #home-reminders {
      .image-wrapper {
        position: relative;
        left: calc(((100vw - 100%) * 0.5) + 0.75rem); 
      }
    }

    #stagemanager {
      padding-top: calc((100vh - 100%) * 0.5);
    }
  }
}

@media (max-width: 992px) {
  body.home {
    .grid {
      grid-row-gap: 1rem;
    }

    main > .container .grid > div {
      &.pic {
        grid-row-gap: 1rem;
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (min-width: 1200px) {
  body.home {
    #tiny-feat .grid .x-large-border:last-of-type p br {
      display: none;
    }
  }
}

@media (min-width: 1552px) {
  body.home {
    #home-transactions {
      left: calc(((100vw - 1552px) * 0.5) + 1.5rem);
    }
  }
}