body.home.ios {
  #ios-hero {
    transform: translateX(2rem);
  }

  main {
    hgroup {
      text-align: center;
      margin-block-start: 4rem;
      margin-block-end: 2rem;

      h3 {
        color: var(--dz-subtitle-color);
      }
    }
  }

  #everywhere {
    .flex.row {
      max-width: 150vw;
      width: 150vw;
    }
  }

  #feature-scroller {
    li {
      &.w900 {
        width: 900px;
        max-width: unset;
      }

      h4, p {
        text-align: center;
        padding: 0 3rem;
      }

      h4 {
        font-size: 1.6rem;
        margin-block-start: 2.7rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 0;
        margin-block-end: 2.7rem;
      }

      &:nth-child(2) {
        picture {
          transform: translateX(-6rem);

          img {
            max-width: unset;
          }
        }
      }
    }
  }

  #sankey-view-container {
    .pad-bezeled-h {
      margin-top: -236px;
      margin-left: 14px;
    }

    .pad-bezeled-h + .video-controls {
      margin: -90px auto -1rem;
    }
  }

  #ipados {
    margin: 5rem auto;

    .readable {
      max-width: 640px;
      text-align: center;
      margin: 2rem auto 0;
    }
  }

  .cards-container.tall {
    li {
      width: 100%;
      max-width: 540px;
      //max-width: calc(100vw - 10rem);

      height: 100%;
      height: calc(100vh - 10rem);
      max-height: 630px;

      .card-item-content {
        overflow: hidden;
        height: 100vh;
        height: calc(100vh - 10rem);
        max-height: 630px;
      }
    }
  }
}

.phone-bezeled-v {
  width: 312px;
  height: 468px;
  position: relative;

  .bezel {
    width: 189px;
    height: 385px;

    position: absolute;
    top: 0px;
    left: 0px;

    background: url(../images/ios/phone-v-bezel.png) no-repeat;
    background-size: 189px 385px;
  }

  .poster {
    width: 171px;
    height: 370px;

    position: absolute;
    top: 8px;
    left: 10px;
    border-radius: 26px;
    overflow: hidden;
  }

  .shadow {
    width: 310px;
    height: 468px;
    display: block;

    position: absolute;
    top: 3px;
    left: 0px;

    background: url(../images/ios/phone-v-shadow.png) no-repeat;
    background-size: 310px 468px;
  }
}

.pad-bezeled-h {
  width: 900px;
  height: 720px;
  position: relative;

  .bezel {
    width: 900px;
    height: 720px;

    position: absolute;
    top: 0px;
    left: 0px;

    background: url(../images/ios/pad-h-bezel.png) no-repeat;
    background-size: 900px 720px;
  }

  .poster {
    width: 740px;
    height: 555px;

    position: absolute;
    top: 30px;
    left: 24.5px;

    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
  }
}

.video-controls {
  button {
    display: inline;
    background: transparent;
    box-shadow: none;
    border: none;
    color: var(--dz-brand-color);
    width: auto;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 0;

    display: flex;
    gap: 4px;

    will-change: opacity;
    transition: 0.2s opacity;

    &:hover {
      opacity: 0.65;
    }

    &[aria-hidden="true"] {
      display: none;
    }

    img {
      display: block;
      align-self: center;
    }
  }
}

.phone-bezeled-v + .video-controls, .pad-bezeled-h + .video-controls {
  margin-top: -60px;
  position: relative;
  z-index: 100;

  width: 171px;
  text-align: center;

  button {
    margin: 0 auto;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (min-resolution: 2dppx) {
  .phone-bezeled-v {
    .bezel {
      background-image: url(../images/ios/phone-v-bezel@2x.png);
    }

    .shadow {
      background-image: url(../images/ios/phone-v-shadow@2x.png); 
    }
  }

  .pad-bezeled-h {
    .bezel {
      background-image: url(../images/ios/pad-h-bezel@2x.png);
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
       only screen and (min--moz-device-pixel-ratio: 3),
       only screen and (min-device-pixel-ratio: 3),
       only screen and (min-resolution: 3dppx) {
  .phone-bezeled-v {
    .bezel {
      background-image: url(../images/ios/phone-v-bezel@3x.png);
    }

    .shadow {
      background-image: url(../images/ios/phone-v-shadow@3x.png); 
    }
  }

  .pad-bezeled-h {
    .bezel {
      background-image: url(../images/ios/pad-h-bezel@3x.png);
    }
  }
}