body.home.ios {
  #ios-hero {
    transform: translateX(2rem);
  }

  main {
    hgroup {
      text-align: center;
      margin-block-start: 4rem;
      margin-block-end: 2rem;

      h3 {
        color: var(--dz-subtitle-color);
      }
    }
  }

  #everywhere {
    .flex.row {
      max-width: 150vw;
      width: 150vw;
    }
  }

  #sankey-view-container {
    .pad-bezeled-h {
      margin-top: -236px;
      margin-left: 14px;
    }

    .pad-bezeled-h + .video-controls {
      margin: -90px auto -1rem;
    }
  }

  #ipados {
    margin: 5rem auto;

    .readable {
      max-width: 640px;
      text-align: center;
      margin: 2rem auto 0;
    }
  }

  .cards-container.tall {
    li {
      width: 100%;
      max-width: 540px;
      //max-width: calc(100vw - 10rem);

      height: 100%;
      height: calc(100vh - 10rem);
      max-height: 630px;

      .card-item-content {
        overflow: hidden;
        height: 100vh;
        height: calc(100vh - 10rem);
        max-height: 630px;
      }
    }
  }

  #feature-scroller {
    li {
      &.w900 {
        width: 900px;
        max-width: unset;
      }

      h4, p {
        text-align: center;
        padding: 0 3rem;
      }

      h4 {
        font-size: 1.6rem;
        margin-block-start: 2.7rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 0;
        margin-block-end: 2.7rem;
      }

      &:nth-child(2) {
        picture {
          transform: translateX(-6rem);

          img {
            max-width: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  body.home.ios {
    #everywhere {
      .flex.row {
        flex-direction: column;
        gap: 2rem;
        max-width: 100%;

        > div:first-of-type {
          display: flex;
          flex-direction: column;
          align-items: center;

          .phone-bezeled-v {
            transform: translateX(50%);
            margin-left: -50%;
          }
        }
      }
    }
  }
}