#support {
  margin: var(--grid-spacing-vertical) 0 0;
  padding: 4rem 0 1rem;

  header {
    max-width: 64ch;
    margin: 0 auto;
  }

  .section-header-xl {
    font-size: 2rem;
  }

  #cap-support {
    @include gradient-text-linear(0deg, #8659FF, #2D56FF);
  }

  .container {
    text-align: center;
  }

  .grid {
    margin: 2rem 0;

    > * {
      display: flex;
      flex-direction: column;
      
      padding: 1rem;
      border: 1px solid var(--dz-card-shadow);
      border-radius: 1rem;
      background: var(--dz-background-color);
    }

    a, button {
      margin-top: auto;

      font-size: 0.85rem;
      font-weight: 500;
    }
  }
}