<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include head.html -%}
<body class="{% if page.style %}{{ page.style }} {% endif %}">
  <header>
    <div class="container">
      <picture>
        <img src="/assets/images/home/appicon.png" srcset="/assets/images/home/appicon@2x.png 2x" width="200" height="200"/>
        <source media="(max-width: 600px)" srcset="/assets/images/home/appicon-half.png 1x, /assets/images/home/appicon.png 2x">
      </picture>
      <h1 class="section-header-xl vault">Pockity</h1>
      <h2 class="subhead"><span>{{ site.description }}</span></h2>
    </div>

    {%- include storebuttons.html -%}
  </header>
  <main>
    {{ content }}

    <div id="stagemanager" class="container-fluid no-padding">
      <div class="hero-image bottom">
        <picture>
          <source media="(max-width: 600px)" srcset="/assets/images/home/stagemanager-400w.jpg 1x, /assets/images/home/stagemanager-800w.jpg 2x, /assets/images/home/stagemanager-1600w.jpg 3x" />
          <source media="(min-width: 601px) and (max-width: 1130px)" srcset="/assets/images/home/stagemanager-800w.jpg 1x, /assets/images/home/stagemanager-1600w.jpg 2x, /assets/images/home/stagemanager@3x.jpg 3x" />
          <img src="/assets/images/home/stagemanager.jpg" srcset="/assets/images/home/stagemanager@2x.jpg 2x, /assets/images/home/stagemanager@3x.jpg 3x" alt="Pockity running on iPadOS in Stage Manager Mode" width="1018" height="801" />
        </picture>
      </div>

      <hgroup class="container readable">
        <h3 class="section-header-l vault">Stage Manager</h3>
        <p>The perfect producivity companion works perfectly with Pockity, with support for multiple windows, keyboard & trackpad, and keyboard shortcuts.</p>
      </hgroup>
    </div>

    {%- include storebuttons.html -%}
  </main>

  {%- include support.html -%}

  {%- include footer.html -%}
</body>
</html>