<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include head.html -%}
<link rel="me" href="https://social.dezinezync.com/@pockity" />
<body class="{% if page.style %}{{ page.style }}{% endif %}">
  <header>
    <div class="container">
      <picture>
        <img src="/assets/images/home/appicon.png" srcset="/assets/images/home/appicon@2x.png 2x" width="200" height="200"/>
        <source media="(max-width: 600px)" srcset="/assets/images/home/appicon-half.png 1x, /assets/images/home/appicon.png 2x">
      </picture>
      <h1 class="section-header-xl vault">Pockity</h1>
      <h2 class="subhead"><span>{{ site.description }}</span></h2>
    </div>

    {%- include storebuttons.html -%}
  </header>
  <main>
    {{ content }}

    {%- include storebuttons.html -%}
  </main>

  {%- include support.html -%}

  {%- include footer.html -%}
  <script>
    const exploreButtons = document.querySelectorAll(`button[title="Explore Pockity's features"]`);
    const container = document.querySelector("main > picture + .container")
    const clickFn = (evt) => {
      evt && evt.preventDefault();
      container && container.scrollIntoView({
        behavior: "smooth", 
        block: "start", 
        inline: "nearest"
      });
    };

    exploreButtons.forEach(elem => { 
      elem.addEventListener("click", clickFn, false);
    })
  </script>
</body>
</html>