<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include head.html -%}
<body class="{% if page.style %}{{ page.style }} {% endif %}">
  <header>
    <div class="container">
      <picture>
        <img src="/assets/images/home/appicon.png" srcset="/assets/images/home/appicon@2x.png 2x" width="200" height="200"/>
        <source media="(max-width: 600px)" srcset="/assets/images/home/appicon-half.png 1x, /assets/images/home/appicon.png 2x">
      </picture>
      <h1 class="section-header-xl">Pockity</h1>
      <h2 class="subhead"><span>{{ site.description }}</span></h2>
    </div>

    {%- include storebuttons.html -%}
  </header>
  <main>
    <div class="container">
      {{ content }}
    </div>

    <div id="stagemanager" class="container-fluid no-padding">
      <div class="hero-image bottom">
        <picture>
          <source media="(max-width: 600px)" srcset="/assets/images/home/stagemanager-400w.jpg 1x, /assets/images/home/stagemanager-800w 2x, /assets/images/home/stagemanager-1200w 3x" />
          <img src="/assets/images/home/stagemanager.jpg" srcset="/assets/images/home/stagemanager@2x.jpg 2x, /assets/images/home/stagemanager@3x.jpg 3x" alt="Pockity running on iPadOS in Stage Manager Mode" width="1716" height="1080" />
        </picture>
      </div>
    </div>

    <div class="container readable">
      <h3>Stage Manager</h3>
      <p>The perfect producivity companion works perfectly with Pockity, with support for multiple windows, keyboard & trackpad support, and keyboard shortcuts.</p>
    </div>

    {%- include storebuttons.html -%}
  </main>

  {%- include support.html -%}

  {%- include footer.html -%}
</body>
</html>