<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include head.html -%}
<body class="{% if page.style %}{{ page.style }}{% endif %} blog">
  {%- include blogHeader.html -%}
  <main>
    <div class="container readable">
      <article class="page-content no-style"> 
        <h2>{{ page.title | escape }}</h2>
        <div class="article-content">
          {{ content }}
        </div>
      </article>

      <section class="page-content">
        <a href="#" onclick="window.history.back();">Back</a>
      </section>
    </div>
  </main>

  <div class="container readable">
    {%- include footer.html -%}
  </div>
</body>
</html>
